main{
    background: gainsboro linear-gradient(
            gainsboro,
            #3e3e3e 85%
    );

    text-align: center;
    padding-top:4em;
    padding-bottom: 10em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    font-weight:normal;
}
/*figure{
    box-shadow: 8px 8px 5px grey;
}
TODO crop jpg image to remove awkward bow shadow
*/
h1{
    font-size: 32px;
}

h2{
    font-size: 25px;
}

* {
    color: #3e3e3e; text-decoration: none;
}

img{
    background: transparent;
}

button {
    background-color: #3e3e3e; /* dark grey */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    opacity: 0.65;
    filter: alpha(opacity=90);
    box-shadow: 8px 8px 5px grey;
}

button:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

.radio-section {
    margin-bottom: 15px;
}

.PCsurvey_page {
    background: gainsboro linear-gradient(
            gainsboro,
            #ffd304 85%
    );

}

.PS4survey_page {
    background: gainsboro linear-gradient(
            gainsboro,
            #ffd304 85%
    );

}







footer {
    font-family: "Comic Sans MS";
}

.yellow-footer {
    background-color: #ffd304;
}

.grey-footer {
    color: #efefef;
    background-color: #3e3e3e;
}