.class_name {
    color: #f091ff;
}
.main{
    background-color: gainsboro;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight:normal;
}

.XBoxOneX {

}

.PS4 {

}
.Switch{

}

